header .container {
    display: flex;
    position: relative;
    z-index: 1;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}

.svg {
    z-index: 0;
    position: absolute;
    left: 0;
    top: 30vh;
    margin: auto;
    width: 30%;
}

.svg-up {
    z-index: 0;
    position: absolute;
    top:0;
    right: 0;
    margin: auto;
}

.box-header {
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: center;
  }

.nav-principal {
	display: flex;
    justify-content: flex-start;
    align-items: center; 
}

.home{
    display: flex;
    margin: 0;
    padding: 10% 15% 9% 8%; 
}

.home-box {
    width: 50%;
}

.divs {
    margin: 0 10%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.377);
    align-content: center;
}

.gallery-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 10%;

}
.gallery-img {
    width: 80%;
}

footer {
    display: flex;
    margin: 0;
    padding: 0 15%;
    height: 30vh;
}
